  body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      max-width: 7500px;
      padding: 48px;
      background: rgb(55, 67, 170);
      color: white;
  }
  .weather-app{
    background-color: rgb(90, 107, 255);
    margin: 0 auto;
    border:3px;
    border-radius: 10px;
    padding-bottom: 25px;
  }
  .city-search{
    padding-bottom: 10px;
  }
  .city-input{
    padding: 5px;
    border: 0px;
    border-radius: 5px;
  }
  .input-button{
    background-color: rgb(158, 168, 255);
    border: 0px;
    border-radius: 5px;
    padding:5px;
  }
  .other{
    font-size: 18px;
  }
  .city{
    font-size: 60px;
    color:white;
  }

  strong{
      color: white;
      font-size: 50px
  }
  .celsius{
    color: white;
    text-decoration: none;
  }
  .farenheit{
    color:white;
    text-decoration: none;
  }

  .units{
  color:white;
  font-size: 20px;
  }

  h1 {
      font-size: 30px;
      color: darkslategray;
  }
  h3 {
    text-transform: capitalize;
  }
  .describe {
    font-size: 20px;
    text-transform: capitalize;
  }
  li{
    list-style: none;
    font-size: 25;
  }
.week-days{
  margin: 10px;
  text-align: center;
}
.weather-fore-temp{
  font-size: 13px;
}
.weather-fore-min{
  opacity: 0.6;
}

.code {
  padding-left: 80px;
}

.open{
  color: rgb(132, 144, 255);
  text-decoration: none;

}

.open:hover{
  text-decoration: underline;
}